* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Roboto", sans-serif;
	font-style: normal;
}

.header {
	display: flex;
	justify-content: space-between;
	/* margin: 0 auto; */
	padding: 0.7% 10%;
	background-color: #800000;
	position: sticky;
	top: 0;
	z-index: 10;
}

.login-btn {
	width: 95px;
	border-radius: 10;
	color: #800000;
	background-color: #f2e8c6;
	padding: 10px;
	margin-left: 25px;
	border: 0 solid transparent;
	font-size: 17px;
	text-align: center;
	font-weight: 500;

	&:hover {
		cursor: pointer;
		background-color: #c6c088;
	}
}

.bodyOuter {
	margin: 0 auto;
	background-color: #f2e8c6;
}

.body {
	/* background-color: black; */
	padding: 2% 10%;
	margin: 0 auto;
}

.filter-div {
	display: flex;
	justify-content: space-between;
}

.search {
	padding-bottom: 30px;
	display: flex;
	column-gap: 10px;
}

.search-input {
	border-radius: 10;
	padding: 10px 13px;
	border: 3px solid black;
	font-size: 17px;
	font-weight: 500;
}

.search-btn {
	border-radius: 10;
	background-color: #96927e;
	padding: 10px 13px;
	border: 0 solid transparent;
	font-size: 17px;
	font-weight: 500;
	cursor: pointer;

	&:hover {
		background-color: #c6c088;
	}
}

.sort-by-text {
	margin: 8px auto;
}

.filter-btn-div {
	display: flex;
	column-gap: 10px;
}

.link-item {
	text-decoration: none;
	color: black !important;
}

.filter-btn {
	border-radius: 10;
	background-color: #96927e;
	padding: 10px 13px;
	border: 0 solid transparent;
	font-size: 17px;
	font-weight: 500;

	&:hover {
		background-color: #a43f3f;
		cursor: pointer;
	}
}

ul {
	display: flex;
	margin: 25px 0;
}

.nav-items ul li {
	font-size: 25px;
	margin: auto 20px;
	list-style-type: none;
}

.nav-items ul li a {
	text-decoration: none !important;
	color: #f2e8c6;

	&:hover {
		color: #96927e;
	}
}

.logo {
	width: 80px;
	height: inherit;
}

.res-container {
	margin: 0 auto;
	display: flex;
	justify-content: flex;
	flex-wrap: wrap;
	column-gap: 3%;
	row-gap: 2%;
}

.res-shimmer {
	padding: 5% 10%;
}

/* Restaurant card styling */
.res-card {
	width: 300px;
	/* height: 400px; */
	/* background-color: #ffbf78; */
	border-radius: 5%;
	margin: 1% 0;
	padding: 0.7% 1%;
	transition: transform 0.5s;
}

.res-card:hover {
	cursor: pointer;
	transform: scale(1.05);
}

.res-card-img {
	width: 100%;
	height: 150px;
	border-radius: 5%;
}

.err-message-container {
	width: 200px;
	height: 80vh;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center !important;
	align-items: center !important;
}

.err-info {
}

.res-info-body {
	padding: 50px 0;
	/* background-color: #f2e8c6; */
	/* height: 100vh; */
}

.res-info-container {
	width: 50%;
	margin: 0 auto;
}

.res-info-card {
	margin: 30px 10px;
	padding: 20px 20px 25px;
	background-color: white !important;
	border: 1px solid darkgray;
	border-radius: 20;
	box-shadow: 0 10px 20px gray;
}

.res-info-title-div {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.deals-container {
	margin: 20px 10px;
	padding: 20px 20px 25px;
}

.menu-container {
	margin: 20px 10px;
	padding: 20px 20px 25px;
}

.menu-text {
	text-align: center;
	padding-bottom: 20px;
	border-bottom: 20px solid rgba(2, 6, 12, 0.05);
}

.menu-card {
	border-bottom: 1px solid lightgray;
	display: flex;
	justify-content: space-between;
	padding-top: 30px;
	padding-bottom: 20px;
}

.menu-img {
	width: 200px;
	height: 180px;
	border-radius: 20;
}

.menu-img-div {
	display: grid;
	align-items: center;
}

.add-to-cart-btn {
	width: 150px;
	height: 50px;
	border-radius: 15;
	font-weight: 900;
	font-size: 20;
	color: red;
	border-color: lightgray;
	position: relative;
	top: -25px;
	margin: 0 auto;

	&:hover {
		cursor: pointer !important;
	}
}

.menu-description-div {
	display: flex;
	flex-direction: column;
}

.menu-offer-div {
	display: flex;
	align-items: center;
	margin-top: 10px;
}

.offer-tag-text {
	margin-left: 7px;
	color: #5d372a;
}

.offer-icon {
	transform: scaleX(-1);
}

.rating-text {
	color: #8d5340;
	margin-top: 10px;
}

/* .menu-title-text{
	font-size: ;
} */

.description-text {
	font-size: 20px;
	color: #5d372a;
	margin-top: 10px;
}

.top-pick-carousel-img {
	/* height: 500px; */
}

.top-pic-carousel-card {
	/* width: 400px;
	height: 400px; */
}

.carousel-price-div {
	width: 330px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	z-index: 1;
	position: relative;
	top: -50px;
	margin: 0 20px;
}

.carousel-price-text {
	color: white;
}
